/**
 * This injects Tailwind's base styles, which is a combination of
 * Normalize.css and some additional base styles.
 *
 * You can see the styles here:
 * https://github.com/tailwindcss/tailwindcss/blob/master/css/preflight.css
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/preflight";
 */
@tailwind preflight;

/**
 * This injects any component classes registered by plugins.
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/components";
 */
@tailwind components;

/**
 * Here you would add any of your custom component classes; stuff that you'd
 * want loaded *before* the utilities so that the utilities could still
 * override them.
 *
 * Example:
 *
 * .btn { ... }
 * .form-input { ... }
 *
 * Or if using a preprocessor or `postcss-import`:
 *
 * @import "components/buttons";
 * @import "components/forms";
 */

/**
 * This injects all of Tailwind's utility classes, generated based on your
 * config file.
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/utilities";
 */
@tailwind utilities;

/**
 * Here you would add any custom utilities you need that don't come out of the
 * box with Tailwind.
 *
 * Example :
 *
 * .bg-pattern-graph-paper { ... }
 * .skew-45 { ... }
 *
 * Or if using a preprocessor or `postcss-import`:
 *
 * @import "utilities/background-patterns";
 * @import "utilities/skew-transforms";
 */

 body{
  font-family: sans-serif !important;
 }

 .logo{
  margin-right: 20px;
 }

 .section1{
    background-image: url(../images/1x/bg.png);
    background-attachment: fixed;
    background-size: cover; /* Fill width, retain proportions */
    background-repeat: no-repeat;
    position: relative;
    margin: 0 auto;
    padding-top: 40px;
    border-radius: 25px;
 }


 .boxes-small{
  border-radius: 25px;


 }

 .boxes2{
   margin: 10px auto;
   padding: 20px 0 20px 0;

 }
 @media screen and (max-width: 600px) {
   .boxes2{
     flex-direction: column;
   }
   .box-col{
    margin: 10px !important;
  }
  .box-col2{
   margin: 10px !important;
 }

 }

 .box-col{
   margin: 0 10px 0 0;
 }
 .box-col2{
  margin: 0 0 0 10px;
}
 .box-col{
   padding: 30px;
   color: white;
   margin-bottom: 40px;
   background: url(../images/26824.svg);
   background-color: #4456ed;
   background-attachment: local;
   background-repeat: no-repeat;
   background-size: 50%;
   background-position-x: 120%;
   background-position-y: 140%;
 }

 .box-col2{
  padding: 30px;
  color: white;
  margin-bottom: 40px;
  background: url(../images/box2.svg);
  background-color: #2e3642;
  background-attachment: local;
  background-repeat: no-repeat;
  background-size: 50%;
  background-position-x: 120%;
  background-position-y: 120%;

 }

 .upper-content{
   padding: 40px;
   padding-top: 100px !important;
 }

 .primaryBtn{
    
     max-width: 15rem;
     color: black;
     text-align: center;
     margin-top: 30px;
     padding: 10px 40px;
     line-height: 3rem;
     background: white;
     transition: cubic-bezier(0.075, 0.82, 0.165, 1);

 }

 .pill{
   background-color: white;
   color: #2e3642;
   max-width: 4.5rem;
   text-align: center;
 }

 .primaryBtn:hover{

 }

.blueBtn{

  background-color: blue;
  color: aliceblue;
  margin: 0 auto;
  margin-top: 60px;
  transition-duration: 1s;
  opacity: 0.6;

}

.blueBtn:hover{
  opacity: 1;
  transition-duration: 1s;
}
.section-form{
  background-color: #2e343f;
  border-radius: 5rem 0 0 0;
}



 .section2-outer{
   background-color: #4456ed;
   color: white;
   padding: 40px;
 }

 .card-section{
     padding-top: 20px;
    display: flex;
    flex-direction: row;

    flex-wrap: wrap;
    overflow: auto;
 }

 .card-section div{
    flex:1;
    padding: 50px;
    margin: 20px;
    background-color: #fff;
    color: black;
 }

 .service-icon{
     width: 8rem;
 }

 .feature{
     display: flex;
     
 }

 .grid-container {
    display: grid;
    grid-template-areas:
      'Img Img Cont  Cont Cont Cont';
    grid-gap: 40px;
    padding: 10px;
    margin: 20px 100px;


  }

  .grid-container-flipped{
    grid-template-areas:
    'Cont Cont Cont  Cont Img Img';
  }

.grid-item1{  grid-area: Img;}
.grid-item2{ grid-area: Cont}

.card{
    padding: 30px; 
}

input, textarea{

    background: none;
    border: 0;
    border-bottom: 1px solid #e5e5e5;
    color: aliceblue;

}

.btnIcon{
  margin-left: 10px;
}

.box1img{
  position: static;
  padding-right: 40px;
}

.socialIcon{
  padding: 0 10px;
}